<!DOCTYPE html>
<html>
<title>PRz Chatbot</title>

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="box">
        <div id="chatbox">
            <p class="botText">
                <span>Cześć, jestem botem.</span>
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>
    </div>

    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            if (rawText != "") {
                var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                $.get("/get", { msg: rawText }).done(function (data) {
                    var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                    $("#chatbox").append(botHtml);
                })
            }
        }

        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
    </script>
</body>