html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    overflow: hidden;
}

body {
    background-color: white;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

.content {
    padding-top: 85px;
    height: 100%;
    padding-bottom: 15px;
}

.box {
    background-color: #fafafa;
    box-shadow: 0px 2px 8px gray;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatbox {
    /* display: flex; */
    height: 100%;
    padding: 0px 10px;
    /* flex-direction: column; */
    overflow-y: auto;
}

.textInputBox {
    display: block;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
}

.textInput {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 1px 20px #ddd;
    border: none;
    padding: 0px 20px;
    min-height: 40px;
    width: 100%;
}

.botTextBox {
    display: block;
    text-align: start;
    min-height: 40px;
    margin: 10px auto;
    width: 100%;
    clear: both;
    overflow-wrap: normal;
    flex-shrink: 0;
}

.botText {
    display: inline-block;
    background-color: #dee1ff;
    border-radius: 20px;
    box-shadow: 0px 1px 20px #ddd;
    padding: 8px 20px;
    min-height: 40px;
    text-align: left;
    margin: 0;
}

.userTextBox {
    display: block;
    text-align: end;
    min-height: 40px;
    margin: 10px auto;
    width: 100%;
    clear: both;
    overflow-wrap: normal;
    flex-shrink: 0;
}

.userText {
    display: inline-block;
    background-color: #a2bbff;
    border-radius: 20px;
    box-shadow: 0px 1px 20px #ddd;
    padding: 8px 20px;
    min-height: 40px;
    text-align: right;
    margin: 0;
}
